.portInfo {
  width: 30% !important;
}
@media (max-width: 992px) {
  .portInfo {
    width: 100% !important;
  }
  .portWrapperImg {
    width: 100% !important;
    object-fit: contain !important;
    height: calc(100vw - 3rem) !important;
  }
}
